@font-face {
  font-family: 'Helvetica Neue ultralight';
  src: url("HelveticaNeue-UltraLight.eot");
  src: url("HelveticaNeue-UltraLightd41d.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-UltraLight.ttf") format("truetype"), url("HelveticaNeue-UltraLight.woff") format("woff"), url("HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight") format("svg");
  font-style: normal;
  font-weight: normal;
}
