@font-face {
  font-family: 'Helvetica Neue light';
  src: url("HelveticaNeue-Light.eot");
  src: url("HelveticaNeue-Lightd41d.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Light.ttf") format("truetype"), url("HelveticaNeue-Light.woff") format("woff"), url("HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-style: normal;
  font-weight: normal;
}
