@font-face {
  font-family: 'Helvetica Neue bold';
  src: url("HelveticaNeue-Bold.eot");
  src: url("HelveticaNeue-Boldd41d.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Bold.ttf") format("truetype"), url("HelveticaNeue-Bold.woff") format("woff"), url("HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-style: normal;
  font-weight: normal;
}
