@font-face {
  font-family: 'Helvetica Neue';
  src: url("HelveticaNeue.eot");
  src: url("HelveticaNeued41d.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue.ttf") format("truetype"), url("HelveticaNeue.woff") format("woff"), url("HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-style: normal;
  font-weight: normal;
}
