@font-face {
  font-family: 'Helvetica Neue thin';
  src: url("HelveticaNeue-Thin.eot");
  src: url("HelveticaNeue-Thind41d.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Thin.ttf") format("truetype"), url("HelveticaNeue-Thin.woff") format("woff"), url("HelveticaNeue-Thin.svg#HelveticaNeue-Thin") format("svg");
  font-style: normal;
  font-weight: normal;
}
